<template>
  <div v-if="username">
    <Header :username="username" />
    <Sidebar :is_admin="is_admin" />
    <div class="flex-container">
      <form @submit.prevent="submitForm">
        <h2>App Information Form</h2>
        <div class="upload-area" @dragover.prevent @dragenter.prevent @dragleave.prevent @drop.prevent="handleFileUpload">
          <!-- Default background image for the drop area -->
          <div class="default-background">
            <p v-if="!selectedFileName">Drag & Drop App Icon Here</p>
            <img v-else :src="previewImage" alt="App Icon Preview" class="app-icon-preview" />
          </div>
        </div>
        <div>
          <label for="appName">App Name:</label>
          <input v-model="appName" type="text" id="appName" required />
        </div>
        <div>
          <label for="appPoints">App Points:</label>
          <input v-model="appPoints" type="number" id="appPoints" required />
        </div>
        <div>
          <label for="appCategory">App Category:</label>
          <select v-model="appCategory" id="appCategory" required>
            <option value="1">Education App</option>
            <option value="2">Music & Audio App</option>
            <option value="3">Business App</option>
            <option value="4">Tools App</option>
            <option value="5">Entertainment App</option>
            <option value="6">Lifestyle App</option>
            <option value="7">Books & References App</option>
            <option value="8">Food & Drinks App</option>
            <option value="9">Shopping App</option>
            <option value="10">Productivity App</option>
          </select>
        </div>
        <button type="submit">Submit</button>
      </form>
      <div>
        <!-- Use the modal component -->
        <message-modal :show-modal="isModalVisible" :message="modalMessage" :close-modal="closeModal" />
      </div>
    </div>
  </div>
  <div v-else>loading...</div>
</template>

<script>
import Header from '@/components/Header.vue';
import Sidebar from '@/components/Sidebar.vue';
import MessageModal from '@/components/MessageModal.vue';
import axios from 'axios';
const Api = 'https://nextlab-app.onrender.com/api/'
export default {
  components: {
    Header,
    Sidebar,
    MessageModal,
  },
  data() {
    return {
      username: '',
      is_admin: '',
      appName: '',
      appPoints: 0,
      appCategory: '',
      selectfile: null,
      selectedFileName: '',
      previewImage: '',
      isModalVisible: false,
      modalMessage: '',
    };
  },
  created() {
    document.title = "Add-App"
    this.fetchUserDetails();
  },
  methods: {
    fetchUserDetails() {
      const token = localStorage.getItem('token');
      axios.get(`${Api}user/`, { headers: { Authorization: `Token ${token}` } })
        .then(response => {
          this.username = response.data.username;
          this.is_admin = response.data.is_admin;
        })
        .catch(error => {
          console.error('Failed to fetch user details', error);
        });
    },
    handleFileUpload(event) {
      this.selectfile = event.dataTransfer.files[0];
      this.selectedFileName = this.selectfile.name;
      this.previewImage = URL.createObjectURL(this.selectfile);
      event.target.style.backgroundImage = 'none';
      const reader = new FileReader();
      reader.onload = (e) => {
        this.selectfilePreview = e.target.result;
      };

      reader.readAsDataURL(this.selectfile);
    },
    submitForm() {
      const token = localStorage.getItem('token');
      const formData = new FormData();
      formData.append('image', this.selectfile);
      formData.append('app_name', this.appName);
      formData.append('points', this.appPoints);
      formData.append('app_category', this.appCategory);

      axios({
        method: 'post',
        url: `${Api}app/`,
        data: formData,
        headers: {
          'Content-Type': 'multipart/form-data',
          'Authorization': `Token ${token}`,
        },
      })
        .then(response => {
          // Handle success as needed
          this.showModal('App Added!');
        })
        .catch(error => {
          console.error('Error:', error);
          // Handle error as needed
          this.showModal('Error submitting App.');
        });
    },
    showModal(message) {
      this.isModalVisible = true;
      this.modalMessage = message;
    },
    closeModal() {
      this.isModalVisible = false;
      if (this.modalMessage === 'App Added!') {
        this.$router.push({ path: '/home' });
      }
    }
  },
};
</script>


<style scoped>
.flex-container {
  display: flex;
  justify-content: center;
  gap: 20px; /* Add some space between child elements */
}
.app-icon-preview {
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
  /* Border radius to make it circular */
}

form {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Add padding between form elements */
form > div {
  margin-bottom: 15px;
}

label {
  display: block; /* Ensure labels are on a new line */
  margin-bottom: 5px;
}

/* Other existing styles... */

.upload-area {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  margin-top: 20px; /* Add some space between the upload area and the form */
}

.default-background {
  background-image: url('/public/images/drag-drop.jpg');
  background-size: 100% 100%;
  background-size: cover;
  background-position: center center;
  height: 100px;
  border-radius: 50%;
  color: black;
}

/* Additional styles for other form elements... */
</style>

