<template>
  <div>
    <Navbar />
    <div class="login-container">
      <h2>Login</h2>
      <form @submit.prevent="login" class="login-form">
        <label>Username:</label>
        <input v-model="username" type="text" required />
        <br />
        <label>Password:</label>
        <input v-model="password" type="password" required />
        <br />
        <button type="submit">Login</button>
      </form>
    </div>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar.vue';
import axios from 'axios';
const Api = 'https://nextlab-app.onrender.com/api/';

export default {
  name: 'login',
  components: {
    Navbar,
  },
  data() {
    return {
      username: '',
      password: '',
    };
  },
  created() {
    document.title = 'Login';
  },
  methods: {
    login() {
      axios
        .post(`${Api}login/`, { username: this.username, password: this.password })
        .then((response) => {
          localStorage.setItem('token', response.data.token);
          this.$router.push('/home');
        })
        .catch((error) => {
          console.error('Login failed:', error);
        });
    },
  },
};
</script>

<style scoped>
.login-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

input {
  padding: 8px;
  margin-bottom: 16px;
}

button {
  background-color: #3498db;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}
</style>
