<template>
  <div class="container mt-3 not-found-container">
    <h1 class="not-found">{{ message }}</h1>
  </div>
</template>

<script>
export default {
  name: "NotFound",
  data() {
    return {
      message: "404 - Page Not Found",
    };
  },
  created() {
    document.title = this.message;
  },
};
</script>

<style scoped>
.not-found-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.not-found {
  color: red;
  text-align: center;
  font-size: 24px;
  margin: 0;
}
</style>
