<template>
  <div v-if="user" class="user-points-container">
    <Header :username="user.username" />
    <Sidebar :is_admin="user.is_admin" />
    <div class="flex-container">
      <div class="user-details">
        <h2>User Task Details</h2>
        <p>Points Earned: {{ user.points_earned }}</p>
        <h2>Downloaded Apps</h2>
        <div v-if="userapps && userapps.length > 0">
          <ul>
            <li v-for="app in userapps" :key="app.id" class="app-item">
              <strong>{{ app.AppName }}</strong> - Points: {{ app.Points }}
            </li>
          </ul>
        </div>
        <div v-else>
          <p>No downloaded apps yet.</p>
        </div>
      </div>
    </div>
  </div>
  <div v-else class="loading-container">
    Loading... <!-- Add a loading indicator or message as needed -->
  </div>
</template>


<style scoped>
/* Add your component styles here */

.user-points-container {
  font-family: 'Arial', sans-serif;
}

.flex-container {
  display: flex;
}

.user-details {
  margin: 20px;
}

.app-item {
  margin-bottom: 10px;
}

.loading-container {
  font-size: 18px;
  margin-top: 20px;
}

</style>


<script>
import Header from '@/components/Header.vue';
import Sidebar from '@/components/Sidebar.vue';
import axios from 'axios';
const Api = 'https://nextlab-app.onrender.com/api/';

export default {
  components: {
    Header,
    Sidebar,
  },
  data() {
    return {
      user: null,
      userapps: null,
    };
  },
  created() {
    document.title = 'User-Points';
  },
  mounted() {
    const token = localStorage.getItem('token');
    axios
      .get(`${Api}user/points`, {
        headers: { Authorization: `Token ${token}` },
      })
      .then(response => {
        this.user = response.data;
      })
      .catch(error => {
        console.error('Failed to fetch user details', error);
      });

    axios
      .get(`${Api}user/apps/`, {
        headers: { Authorization: `Token ${token}` },
      })
      .then(response => {
        this.userapps = response.data;
      })
      .catch(error => {
        console.error('Failed to fetch user apps', error);
      });
  },
};
</script>
