<template>
  <div>
    <Navbar />

    <div class="register-container">
      <h2>Register</h2>
      <form @submit.prevent="register" class="register-form">
        <label>Username:</label>
        <input v-model="username" type="text" required />
        <br />
        <label>Email:</label>
        <input v-model="email" type="email" required />
        <br />
        <label>Password:</label>
        <input v-model="password" type="password" required />
        <br />
        <label for="isAdmin">Register As Admin:</label>
        <input v-model="is_admin" type="checkbox" id="isAdmin" />
        <br />
        <button type="submit">Register</button>
      </form>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import Navbar from '@/components/Navbar.vue';
const Api='https://nextlab-app.onrender.com/api/'
export default {
  name: 'register',
  components: {
    Navbar,
  },
  data() {
    return {
      username: '',
      email: '',
      password: '',
      is_admin: false, // Initialize with a default value
    };
  },
  created() {
    document.title = "Register";
  },
  methods: {
    register() {
      axios
        .post(`${Api}register/`, {
          username: this.username,
          email: this.email,
          password: this.password,
          is_admin: this.is_admin,
        })
        .then((response) => {
          this.$router.push('/login');
        })
        .catch((error) => {
          console.error('Registration failed:', error);
        });
    },
  },
};
</script>

<style scoped>
.register-container {
  max-width: 400px;
  margin: auto;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

input {
  padding: 8px;
  margin-bottom: 16px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
</style>
