<template>
  <div v-if="user && allApps" class="user-tasks-container">
    <Header :username="user.username" />
    <Sidebar :is_admin="user.is_admin" />
    <div class="flex-container">
      <div class="user-tasks-content">
        <h1>User Task Details</h1>
        <p style="color: black;">Tasks Completed: {{ getCompletedTasksCount() }}</p>
        <div v-for="app in allApps" :key="app.id" class="app-item">
          <input
            type="checkbox"
            :checked="isAppDownloaded(app.id)"
            disabled
            class="app-checkbox"
          />
          <label class="app-label">
            {{ app.app_name }} - Points: {{ app.points }}
          </label>
        </div>
      </div>
    </div>
  </div>
  <div v-else class="loading-container">
    Loading... <!-- Add a loading indicator or message as needed -->
  </div>
</template>

<style>
/* Add your component styles here */

.user-tasks-container {
  font-family: 'Arial', sans-serif;
}

.flex-container {
  display: flex;
}

.user-tasks-content {
  margin: 20px;
}

.app-item {
  margin-bottom: 10px;
}

.app-checkbox {
  margin-right: 10px;
}

.loading-container {
  font-size: 18px;
  margin-top: 20px;
}

</style>


<script>
import Header from '@/components/Header.vue';
import Sidebar from '@/components/Sidebar.vue';
import axios from 'axios';
const Api='https://nextlab-app.onrender.com/api/'
export default {
  components: {
    Header,
    Sidebar,
  },
  data() {
    return {
      user: null,
      allApps: null,
      downloadedApps: [], // IDs of downloaded apps
    };
  },
  created(){
    document.title="User-Tasks"
  },
  mounted() {
    const token = localStorage.getItem('token');

    // Fetch user details
    axios
      .get(`${Api}user/`, {
        headers: { Authorization: `Token ${token}` },
      })
      .then(response => {
        this.user = response.data;
      })
      .catch(error => {
        console.error('Failed to fetch user details', error);
      });

    // Fetch all apps
    axios
      .get(`${Api}app/`, {
        headers: { Authorization: `Token ${token}` },
      })
      .then(response => {
        this.allApps = response.data;
      })
      .catch(error => {
        console.error('Failed to fetch all apps', error);
      });

    // Fetch user's downloaded apps
    axios
      .get(`${Api}user/apps/`, {
        headers: { Authorization: `Token ${token}` },
      })
      .then(response => {
        this.downloadedApps = response.data.map(app => app.id);
      })
      .catch(error => {
        console.error('Failed to fetch user apps', error);
      });
  },
  methods: {
    isAppDownloaded(appId) {
      return this.downloadedApps.includes(appId);
    },
    getCompletedTasksCount() {
      return this.downloadedApps.length;
    },
  },
};
</script>


