<template>
  <div class="message-modal" v-if="showModal">
    <div class="modal-content">
      <span class="close" @click="closeModal">&times;</span>
      <p class="modal-message">{{ message }}</p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    message: String,
    showModal: Boolean,
    closeModal: Function,
  },
};
</script>

<style scoped>
.message-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Darken the background */
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  width: 80%;
  max-width: 400px;
  text-align: center;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Add a subtle box shadow */
}

.close {
  color: #aaa;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: color 0.3s ease; /* Smooth transition on hover */
}

.close:hover,
.close:focus {
  color: #333; /* Darken the color on hover */
}

.modal-message {
  color: #333; /* Dark text color */
  font-size: 18px;
  margin-bottom: 15px;
}
</style>
