<!-- src/App.vue -->
<template>
  <div id="app">
    <router-view />
  </div>
</template>


<script>
export default {
  name: 'App',
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
  color: #2c3e50;
  height: 100vh;
}
</style>
